{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <br/>
        <h1 style="text-align:center;">Projects</h1>
        {% if projects %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> User Count </th>
                  <th width="15%"> Private </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for project in projects %}
                <tr>

                  <td>
                      <a href = "{{ url_for('project.projectpage', project_name=project.name)}}">{{ project.name }}</a>
                  </td>
                  </div>
                  <td> {{ project.description }} </td>
                  <td>
                    {% if project.users %}
                      {{ project.users.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    {% if project.is_private %}
                      <i class="fa fa-lock val" title="Private project"></i>
                    {% else %}
                      <i class="fas fa-unlock-alt" title="Public project"></i>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_project', id=project.id) }}">
                      <i class="fa fa-pencil-alt" title="Edit"></i> 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_project', id=project.id) }}">
                      <i class="fa fa-trash" title="Delete the whole project"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No projects have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_project') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Project
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
