{% extends "base.html" %}
{% block title %}{{project}}{% endblock %}
{% block head_js %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" type="text/css" />
	
	
	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/jquery-3.2.1.min.js') }}"></script>
 	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/popper.min.js') }}"></script> 
 	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/bootstrap.min.js') }}"></script> 
	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/material.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/d3.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/jquery.easing.min.js') }}"></script>
	
	<script language="JavaScript" type="text/javascript" src="{{ url_for ('static', filename='js/arborator-draft.js') }}"></script>
{% endblock %}
{% block body %}	
			
	<div style='margin:5 auto;' id='sentinfo'>Sample {{sample_name}}</div>
	<!--<form method="get" action="project.cgi"  id="searchform"  style='position: fixed;right:1px;top:1px'>
		<input type="text" id="searchtext" name="searchtext" value="{query}"/>
		<input type="hidden" id="project" name="project" value="{{project_name}}">
		<span title="search" onClick="$('#searchform').submit();" style="cursor:pointer;" class="ui-button-icon-primary ui-icon ui-icon-search"></span>
	</form>-->
		

	The <b>{{sample_name}}</b> sample has {{dico|length}} sentences. <br/>
	<br/>
					
	{% for sent_id, userdico in dico.items() %}
	<sentence sent_id={{sent_id}}> 
	<sentid style='cursor:pointer;dispay:block'>{{sent_id}}</sentid><br/>
		{% for user,conll  in userdico.items() %}
		<user class='user toggle' user={{user}}>{{user}}</user>
		<conll user={{user}}>{{conll}}</conll>
		{% endfor %}
	</sentence>
	{% endfor %}

	<script>
		window.onload = function () { 
			new ArboratorDraft(); // START
		}
	</script>
						
{% endblock %}
 
